<div class="center text-center jumbotron">
    <h1>Ticket Stub Diary</h1>
    
    <h2>Your digital concert scrapbook</h2>
        
     <%= link_to "Sign up now!", 'user/sign_up', class: "btn btn-lg btn-primary" %>
</div>